<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Epson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  </head>
  <body>
    <h1>Epson All-In-One</h1>
    {% if active %}
    <p>
      La stampante è multifunzione: può stampare, ma anche scannerizzare.
    </p>
    <ul>
      <p>Scegli una delle due opzioni per procedere</p>
      <li>
	<a href="/scanner">
	  <img src="{{ url_for('static', filename='scanner.svg') }}" class="icon" />&nbsp;
	  Scanner
	</a>
      </li>
      <li>
	<a href="/printer">
	  <img src="{{ url_for('static', filename='printer.svg') }}" class="icon" />&nbsp;
	  Stampante
	</a>
      </li>
    </ul>
    {% else %}
    <div class="alert">
      ⚠ La stampante non sembra connessa ⚠
    </div>
    {% endif %}
  </body>
</html>
