<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Epson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  </head>
  <body>
    <h1>Stampante</h1>
    <p>
      Carica qui il file PDF da mandare in stampa
    </p>

    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

    {% if outcome.err != None %}
    <div class="alert">
      ⚠ {{outcome.err}} ⚠
    </div>
    {% endif %}
  </body>
</html>
