<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Epson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  </head>
  <body>
    <h1>Scanner</h1>
    <p>
      NOTA: Il progresso <strong>non</strong> viene mostrato:
      il file viene restituito una volta completata la scansione.
    </p>

    <form method=post enctype=multipart/form-data>
      <select name="mode" id="mode">
	{% for mode in modes %}
	<option value="{{ mode }}">{{ mode }}</option>
	{% endfor %}
      </select>

      <select name="resolution" id="resolution">
	{% for resolution in resolutions %}
	<option value="{{ resolution }}">{{ resolution }} DPI</option>
	{% endfor %}
      </select>

      <input type=submit value=Scan>
    </form>

    {% if outcome.err != None %}
    <div class="alert">
      ⚠ {{outcome.err}} ⚠
    </div>
    {% endif %}
  </body>
</html>
